body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.app {
  width: 600px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add-todo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.add-todo input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-todo button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-button {
  background-color: #ff0800;
  color: rgb(184, 17, 17);
  border: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.edit-button {
  background-color: #00ff00;
  color: #00ff00;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  margin-bottom: 15px;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item span {
  margin-right: 10px;
}

.todo-item button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.suggestions-list {
  margin-top: 10px;
}
